{% extends "layout.njk" %}

{% block content %}
    <section class="container form">
        <form  method="POST" action="/products?_method=PUT" enctype="multipart/form-data">
      
            <div class="header">
                <h3>Editar Produto {{productId}}</h3>
            </div>
            
            <div class="fields"> 
                {% include "products/fields.njk" %}
                <input type="hidden" name="id" value ="{{product.id}}">
            </div>
        
            <button   class="button edit" type="submit ">Atualizar</button>
        </form>
        <form  id="form-delete" method="POST" action="/products?_method=DELETE" >
            <button  type="submit" class="button delet">Deletar</button>
            <input type="hidden" name="id" value="{{product.id}}">
        </form>
    </section>
    
    <script>
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function(event){
            const confirmation = confirm("Deseja Deletar?")
            if(!confirmation){
                event.preventDefault()
            }          
        })
    </script>

{%endblock content %}